@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{

  background-image: url(image/bg.png);
  
  background-repeat: no-repeat;

}
*{

  margin: 0;
  padding: 0;
}

.nav-container {
    display: flex; /* Makes the container a flex container */
    justify-content: space-between; /* Distributes space evenly between items */
    align-items: center;
    margin-left: 100px;
   margin-right: 100px;
   justify-items: center;
  }
  .nav-left {

    display: flex;
    align-items: center;
  }
 
  .nav-mid {
  display: flex;

  }
  .nav-mid ul li {
  margin-left: 32px;
  
   }
  .nav-mid li  {
    
    display: inline-block;
   }
  .nav-mid ul  {
   list-style-type: none;
   display: inline-block;
  }
  
  .nav-mid ul li a {
    text-decoration: none;
  }
  .menu{

    display: none;
  }
  .menu i{
font-size: 30px;

  }

/* HERO SESSION */

  .hero-container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
  }
  

  .hero-inside-text{

    font-family: Quicksand;
font-size: 36px;
font-weight: 700;
padding-right: 40px;
  }
.Empowering{


}

.hero-image{

  width: 334.3px;
height: 380px;

}




/* Card-Section */

.cards-container{

  display: flex;
}




/* gird-selection-unit */
.grid-container{

  display: flex;
  gap: 15px;

}

.div-big-image{
  width: 540px;
  height: 337px;
  background-color: white;

}
.div-small-image{

display: grid;
grid-template-columns: repeat(2,1fr);
}
.card-section-1{

 background-color: white;
}

.card-1-img{
  width: 340px;
  height: 237px;
  

}


.grid-container{
/* Article */

  margin-left: 100px;
  margin-right: 100px;

}

.card-section-container{

  background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);

}
.card-section-1{

 

}






















/* FOOTER */

.footer-container{
  display: flex;
 background: rgb(1, 172, 253);

}
.footer-logo-and-text-container{
display: flex;
} 















  @media screen and (max-width: 576px){
.nav-container{
padding: 12px 16px;
  border: 0.5px solid rgb(254, 163, 1);

}
    .nav-mid{

      display: none;
    }

    .menu{

      display: block;
    }
.btn-contact{
  display: none;
}
.nav-header{

  display: none;
}


/* hero-section */

.hero-container{


  flex-direction: column-reverse;
}

.cards-container{

  flex-direction: column;
}

/* CARD-SECTION */
.grid-container{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-row:  repeat(3,1fr)  ;
}








/* footer */

.footer-container{
flex-direction: column;
}


